<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
<%- include('../partials/nav') %>

<div class="container">
    <div class="center-align" style="margin-top: 40px;">
        <h1>Welcome to the Potluck Planner</h1>
        <p>Plan your next potluck with us!</p>
        <p>Click below to view items or add a new item</p>
        <a href="/items" class="btn blue darken-2">View Items</a>
        <a href="/items/new" class="btn blue darken-2">Add New Item</a>
    </div>
    </div>
    
</body>
</html>